.promotion-header{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}

ul.horizontal-unstyled-clearfix {
    list-style-type: none;
    margin: auto;
    padding: 0;
  }
  
  ul.horizontal-unstyled-clearfix li {
    display: inline-block;
    margin: auto;
  }
  
  ul.horizontal-unstyled-clearfix a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  ul.horizontal-unstyled-clearfix a:hover {
    color: black;
    font-weight: bold;
  }

  #nav nav a {
    color: black;
    font-weight: bold;
  }