.promotion-header{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}

ul li {
    margin: auto;
} 

ul.horizontal-unstyled-clearfix a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: red;
  }